body{
background-color: rgb(255, 242, 227);
}
.titulos
{
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 200%;
color: rgb(136, 130, 130);
}
header{
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
nav li{
    position: relative;
    height:50%;
    top:0%;
    left:0;
}
nav a{
    display:inline-block;
    height: 100%;
    width: 70%;
    padding: 0 20%;
    text-decoration: none;
    display: flex;
    align-self: center;
    align-items: center;
    color:rgb(38, 37, 37);
    font-size: 100%;
    background-color: rgb(246, 232, 130);
    opacity: 0.6;
    transition: 0.3s;
    transition: color 0.3s;  
}
nav ul li a{
    display: block;
    border-radius: 16px;
    transition: 0,2s;
    margin: 2px 25px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
nav a:hover{
    opacity: 1;
}
.logo{
    height: 15%;
    width:15%;
}
.header nav{
    position: fixed;
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 3px 3px 5px rgb(59, 59, 58);
}
.imagenesinicio{
    width: 50%;
    height: 50%;
   display: flex;
   grid-template-columns: repeat(3, 1fr);
    gap: 20%;
}
.tituloimg
{
 background-color: rgb(246, 232, 130);
color: rgb(136, 130, 130); 
text-align: center;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:  rgb(255, 242, 227);
}
input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 background-color:  rgb(255, 242, 227);
}
input[type=email], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(255, 242, 227) ;
}
input[type=submit] {
  width: 25%;
  background-color:  rgb(246, 232, 130);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
color: rgb(136, 130, 130);
}

input[type=submit]:hover {
  background-color:rgb(238, 222, 104) ;
}
input[type=reset]:hover {
  background-color: rgb(238, 222, 104);
}
div {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: rgb(136, 130, 130);
}
input[type=reset] {
  width: 25%;
  background-color: rgb(246, 232, 130) ;
  color:white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
color: rgb(136, 130, 130);

}

/*Carrusel*/

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: orange;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display: flex;
  align-items: center;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.auto
{
  background-color: rgb(255, 255, 179);
  color: rgb(136, 130, 130);
  height: 30%;
  width: 20%;
}
img
{
width: 30%;
height: 30%;
}
.tarjetas {
  max-width: 30%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20%;

}

.tarjeta {
  border: 1px solid #999;
  border-radius: 3px;
  display: grid;
  grid-template-rows: max-content 30% 1fr;
}
.tarjeta h2 {
  margin: 0;
  padding: 0.5rem;
}

.tarjeta.content {
  padding: 0.5rem;
}

.tarjeta footer {
  background-color: #756d6d;
  color: #fff;
  padding: 0.5rem;
  border: #222;
}
.gif
{
width: 10%;
height: 10%;
border-radius: 15%;
float: left;
}
.gif2
{
width: 10%;
height: 10%;
border-radius: 15%;
float: right;
}